---
title: Daily News Items
layout: base.njk
pagination:
    data: news
    size: 1
    alias: news
permalink: /{{ news.country }}/index.html
---

<div class="container">
    <h1>Local Weather</h1>
    <p id="city"></p>
    <p id="temp_now"></p>
    <p id="temp_min"></p>
    <p id="temp_max"></p>

    <h1>Latest News Articles for {{ news.country }}</h1>
    <ul>
    {% for article in news.articles %}
        <li><h2><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h2></li>
    {% endfor %}
    </ul>
</div>
<script src="/js/vibe.js"></script>
<script src="/js/weather.js"></script>